canvas{
	position: absolute;
	left: 0px;
	bottom: 0px;
   right: 0px;
   top: 0px;
   background: #eee;
}

#play{
	position:absolute;
	right: 10px;
	top:45%;
	height:75px;
	width:75px;
}
#input{
	display:none;
}

#submitJob{
	position:absolute;
	right: 10px;
	top:45%;
	height:75px;
	width:75px;
	font-family: arial;
	font-size: 14px;
}

.submitContainer{
    width: 99%;
    margin-top: .5em;
    margin-left: auto;
    margin-right: auto;
    color: #666;
}
.menu-icon{
    height: 30px;
    widows: 30px;
    position: absolute;
    right:10px;
    top: 10px;
    cursor: pointer;
	 padding-left: 1em;
	 padding-bottom: 1em;
}
.clear-icon{
    height: 35px;
    widows: 35px;
    position: absolute;
    right:5px;
    bottom: 0px;
    cursor: pointer;
	 padding-left: 1em;
	 padding-bottom: 1em;
}

.inputContainer{
    color: #666;
    position: absolute;
    top: 90px;
    right: -1000px;
    width: 300px;
    z-index: 10;
    transition: all .5s;
}

@media screen and (max-width: 600px) {
    .inputContainer{
        width: 70%;
    }
}


